{% load static %}
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="title" content="앤드테스트"/>
    <meta name="description" content="테스트 자동화 시스템입니다."/>
    <meta name="robots" content="index,nofollow"/>
    <title>앤드테스트</title>
    <meta name="naver-site-verification" content="374eb36c633f47f41f60f7b892f305f84e557ed2" />
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon.png' %}" />
    <link href="{% static 'plugins/jquery-steps/css/jquery.steps.css' %}" rel="stylesheet" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
</head>
