{% load static %}
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>앤드테스트-ANDTEST</title>
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon.png' %}" />
    <link href="{% static 'plugins/jquery-steps/css/jquery.steps.css' %}" rel="stylesheet" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
</head>
