{% load static %}
     <div class="nk-sidebar">           
            <div class="nk-nav-scroll">
                <ul class="metismenu" id="menu">
                    <li>
                        <a class="has-arrow" href="/create" aria-expanded="false">
                            <i class="icon-note menu-icon"></i><span class="nav-text">입력</span>
                        </a>
                    </li>
                    <li>
                        <a class="has-arrow" href="/list" aria-expanded="false">
                            <i class="icon-menu menu-icon"></i><span class="nav-text">케이스</span>
                        </a>
                    </li>
                    <li>
                        <a class="has-arrow" href="/setting" aria-expanded="false">
                            <i class="icon-grid menu-icon"></i><span class="nav-text">관리</span>
                        </a>
                    </li>
                    </li>
                </ul>
            </div>
        </div>
       