{% load static %}
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <div id="main-wrapper">
       <div class="nav-header">
            <div class="brand-logo">
                <a href="">
                    <b class="logo-abbr color-white">ANDTEST</b>
                    <span class="logo-compact color-white"></span>
                    <span class="brand-title color-white">ANDTEST</span>
                </a>
            </div>
        </div>
        <div class="header">    
            <div class="header-content clearfix">
                <div class="nav-control">
                    <div class="hamburger">
                        <span class="toggle-icon"><i class="icon-menu"></i></span>
                    </div>
                </div>
            </div>
        </div>    